[Desktop Entry]
Type=Application
Name=Install K-Arch
Comment=Launch the PySide6 System Installer
Exec=sudo /usr/bin/python /usr/local/share/main.py
Icon=system-software-install
Terminal=false
Categories=System;